<div class="col-md-5">
		<form>
				<div class="form-group">
					<input type="text" name="clubname" class="form-control" placeholder="俱乐部名字">
				</div>	
				<div class="form-group">
					<input type="text" name="rank" class="form-control" placeholder="rank now">
				</div>
				<div class="form-group">
					<input type="text" name="matchtime" class="form-control" placeholder="比赛场数">
				</div>
				<div class="form-group">
					<input type="text" name="wintime" class="form-control" placeholder="赢球场数">
				</div>
				<div class="form-group">
					<input type="text" name="defeattime" class="form-control" placeholder="输球场数">
				</div>
				<div class="form-group">
					<input type="text" name="ping" class="form-control" placeholder="平局场数">
				</div>
				<div class="form-group">
					<input type="text" name="shotgo" class="form-control" placeholder="进球数">
				</div>
				<div class="form-group">
					<input type="text" name="shotoff" class="form-control" placeholder="丢球数">
				</div>
				
				<div class="form-group">
					<a class="rankadd btn btn-info" action="__APP__/home/rank/doadd">添加</a>
				</div>






		</form>


</div>