<div class="col-md-10 rankdad">

          <div class="panel panel-default">
                        <div class="panel-heading">
                            球队排名管理
                        </div>
                        <div class="panel-body">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                           
                                            <th>id</th>
                                            <th>clubname</th>
                                            <th>score</th>
                                            <th>rank</th>
                                            <th>operration</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rank">
                                    <foreach name="model" item="item">
                                        <tr del-id="{$item.id}">
                                           
                                            <td>{$item.id}</td>
                                            <td>{$item.clubname}</td>
                                            <td>{$item.score}</td>
                                            <td>{$item.rank}</td>
                                            <td><a class="rank-del btn btn-info" delid="{$item.id}" action="__APP__/home/rank/del"><i class=" icon-trash"></i></a>&nbsp<a href="__APP__/home/rank/update/id/{$item.id}" class="btn btn-info"><i class="icon-edit"></i></a></td>
                                        </tr>
                                     </foreach>
                                    </tbody>
                                </table>
                                {$page}
                            </div>
                        </div>
                    </div>


	</div>
    <div class="col-md-2"> <a href="__APP__/home/rank/add" class="btn btn-success">Add</a></div>